body {
	background-color: #1b1918;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

h1 {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 100;
}

img {
	width: 256px;
}


div {
	text-align: center;
}