@page
@model IndexModel

<!DOCTYPE html>
<html>

<head>
	<title>HaxorByteClub</title>
	<!-- app.css in css folder -->
	<link rel="stylesheet" href="~/css/app.css">
</head>

<body>
	<div>
		<img src="~/img/logo.png"></img>
		<h1>hello world!</h1>
	</div>
</body>

</html>